langchain == 0.3.26
langchain-openai == 0.3.24
FastApi
sentence-transformers == 4.1.0
pypdf == 5.6.1
streamlit
langchain-community == 0.3.26
langchain-core
python-dotenv == 1.1.0
langchain-pinecone == 0.2.8
-e.